<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="cells-luis-kelly-dashboard-styles.html">
<link rel="import" href="../polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="bower_components/cells-mocks-component/cells-mocks-component.html">

<dom-module id="cells-luis-kelly-dashboard">
  <script src="cells-luis-kelly-dashboard.js"></script>
</dom-module>