@import "bower_components/cells-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-luis-kelly-dashboard;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit;
}




.card {
  margin: 24px;
  padding: 16px;
  color: #757575;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.circle {
  display: inline-block;
  width: 64px;
  height: 64px;
  text-align: center;
  color: #555;
  border-radius: 50%;
  background: blue;
  font-size: 30px;
  line-height: 64px;
}  

:host .card{
  text-align: center;
}
.repos{
  position: absolute;
  width: 100%;
  height: 80%;
}
.top-bar h1, .top-bar input{
  display: inline-block;
  vertical-align: middle;
}
.top-bar h1{
  color: rgba(0,0,0,0.7);
  padding-right: 15px;
}
.top-bar input{
  height: 30px;
  border-radius: 15px;
  border: 1px solid cornflowerblue;
  padding: 10px;
}
.list-item{
  display: block;
  width: 100%;
  height: 250px;
  margin: 5px 7px;
  font-size: calc(1em + .1vw);
  word-break: normal;
  overflow: hidden;
}

.alumnos-container{
  margin: 0 auto;
  padding: 16px;
  border-radius: 5px;
  box-shadow: none !important;
}

.quote{
  font-style: italic;
  background: khaki;
  padding: 5px;
  margin: 5px;
  word-wrap: none;
  line-height: 2em;
}

.card-row{
  width:100%;
  display: block;
}

.tag{
  font-weight: bolder;
}

.tag,.value{
  width:100%;
  display: block;
}